.css-1ygcj2i-MuiTableCell-root {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  color: #454066 !important;
}

.css-1ex1afd-MuiTableCell-root {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  color: #c0a659 !important;
}
