.doctor-profile-img {
  width: 160px;
  height: 160px;
  border-radius: 5px;
}

@media only screen and (max-width: 400px) {
  .css-167g1rt-MuiGrid-root {
    flex-direction: column !important;
  }


.css-1idn90j-MuiGrid-root {
    width: 80%;
    margin: 0 auto !important;
  }
}
